<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evento</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/CSS/singleEventStylesheet.css}">
</head>
<body>
<header th:fragment="header">
    <a th:href="@{/}">
        <img th:src="@{/img/Logo.png}" alt="Logo de tech events" id="logo">
    </a>
    <section id="search">
        <img th:src="@{/img/Search.png}" alt="Imagen de búsqueda" id="searchimg">
        <input type="text" placeholder="Buscar..." id="searchinput">
    </section>
    <a th:href="@{/login}" id="login">Iniciar Sesión</a>
</header>
<div class="article"></div>
</body>
</html>